<fieldset class="fieldset rotateArrow">
  <include
    src="./legend.html"
    class="js_legendDesign"
    icon="far fa-object-ungroup item--icon"
    title="Diseña"
  ></include>
  <div class="design js_collapsible">
    <label class="design__label">Colores</label>
    <ul>
      <li class="color color_blue">
        <input
          class="radio js-radio js-palette-1 input"
          type="radio"
          value="1"
          id="color_blue"
          name="palette"
        />
        <div class="color_blue--dark"></div>
        <div class="color_blue--medium"></div>
        <div class="color_blue--light"></div>
      </li>
      <li class="color color_red">
        <input
          class="radio js-radio js-palette-2 input"
          type="radio"
          value="2"
          id="color_red"
          name="palette"
        />
        <div class="color_red--dark"></div>
        <div class="color_red--medium"></div>
        <div class="color_red--light"></div>
      </li>
      <li class="color color_grey">
        <input
          class="radio js-radio js-palette-3 input"
          type="radio"
          value="3"
          id="color_grey"
          name="palette"
        />
        <div class="color_grey--dark"></div>
        <div class="color_grey--medium"></div>
        <div class="color_grey--light"></div>
      </li>
    </ul>
  </div>
</fieldset>
