<main class="landingMain">
  <div class="centeredLanding">
    <img
      class="landingMain__logo"
      src="./assets/images/tarjetas-molonas.png"
      alt="logo de la página tarjetas molonas"
    />
    <section class="containerText">
      <h2 class="containerText__title">Crea tu tarjeta de visita</h2>
      <p class="containerText__text">
        Crea mejores contactos profesionales de forma fácil y cómoda
      </p>
    </section>
    <section class="containerLinks">
      <article class="containerLinks__item1">
        <i class="far fa-object-ungroup containerLinks__icon"></i>
        <p class="containerLinks__text">Diseña</p>
      </article>
      <article class="containerLinks__item2">
        <i class="far fa-keyboard containerLinks__icon"></i>
        <p class="containerLinks__text">Rellena</p>
      </article>
      <article class="containerLinks__item3">
        <i class="fas fa-share-alt containerLinks__icon"></i>
        <p class="containerLinks__text">Comparte</p>
      </article>
    </section>
  </div>
  <a class="button__landing" href="./app.html">Comenzar</a>
</main>
