<button class="preview__btn js-resetBtn" type="reset">
  <i class="far fa-trash-alt"></i>
  Reset
</button>
<article class="preview__article palette-1">
  <div class="preview__article--container">
    <div class="preview__article--rectangle"></div>
    <h2 class="preview__article--name js-preview__name">Nombre Apellido</h2>
    <h3 class="preview__article--job js-preview__job">Front-end developer</h3>
  </div>
  <div class="preview__article--img js__profile-image"></div>
  <div class="container">
    <a class="js-preview__phone" href="tel:" alt="Ir a móvil" target="_blank">
      <div class="container-icon">
        <i class="fas fa-mobile-alt contact-icon"></i>
      </div>
    </a>
    <a
      class="js-preview__mail"
      href="#"
      alt="Ir a correo electronico"
      target="_blank"
    >
      <div class="container-icon">
        <i class="far fa-envelope contact-icon"></i>
      </div>
    </a>
    <a
      class="js-preview__linkedin"
      href="#"
      alt="Ir a la página de Linkedin"
      target="_blank"
    >
      <div class="container-icon">
        <i class="fab fa-linkedin-in contact-icon"></i>
      </div>
    </a>
    <a
      class="js-preview__github"
      href="#"
      alt="Ir a la página de GitHub"
      target="_blank"
    >
      <div class="container-icon">
        <i class="fab fa-github-alt contact-icon"></i>
      </div>
    </a>
  </div>
</article>
