<fieldset class="share fieldset collapse">
  <include
    src="./legend.html"
    class="js_legendShare"
    icon="fas fa-share-alt item--icon"
    title="Comparte"
  ></include>
  <div class="share__container js_collapsible">

  <button class="share__create_btn--off js_shareBtn" disabled>
    <i class="far fa-address-card"></i>
    Crear tarjeta
  </button>
  <section class="share__result collapseShare">
    <p class="share__result--title">La tarjeta ha sido creada:</p>
    <a href="" class="share__result--link js_share_link" target="_blank"
      ></a
    >
    </a>
    <a href="https://twitter.com/intent/tweet?text=" class="share__result--btn js-twitter" target="_blank ">
      <i class="fab fa-twitter"></i>
      <p>Compartir en twitter</p>
    </a>
  </section>
</div>
</fieldset>
