//colores generales
$orange: #e17334;
$darkgreen: #114e4e;
$darkgray: #54585a;
$input: #a2deaf;
$green: #438792;
$mainback: #f5f5f5;

//tipografías generales
$titlefont: "Merriweather", serif;
$mainfont: "Open Sans", sans-serif;
$cardfont: "Montserrat", sans-serif;

//variables paleta 1
$icon1: $darkgreen;
$border1: $input;
$rectangle1: $green;

//variables paleta 2
$icon2: #e95626;
$border2: #bd1010;
$rectangle2: #420101;

//variables paleta 3
$icon3: #a0c0cf;
$border3: #eab052;
$rectangle3: #3e5b65;
